*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
playaround-game-core/.classpath
playaround-game-core/.project
playaround-game-core/.settings/org.eclipse.jdt.core.prefs
playaround-game-core/build.gradle
